#contenitore{
    height: 60px;
    background-size: 100px;
    background-color: rgb(0, 123, 194);  
    background-image: url(../img/pattern.png);
    
}
#logo{    
    width: 10%;       
}
#blu{
    color: blue;
}
.evidenziato{
    background-color: yellow;
}
ul{
    padding-inline-start: 15px;
}